<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/addons/p5.dom.js"></script>
  </head>

  <body>
<h1>before</h1>
<div id="mysketch"></div>

<script>
// var cnv;
// var btn

function setup() {
  var el = select("#mysketch");
  var cnv = createCanvas(el.width, 500);
  cnv.parent("mysketch");
  var btn = createButton("test");
  btn.mouseClicked(erase);
  background(0,80,80);
  strokeWeight(3);
  stroke(255);
}

function draw() {
  if(mouseIsPressed){
    line(pmouseX, pmouseY, mouseX, mouseY);
  }
}

function erase() {
  background(0,80,80);
}

</script>

<h1>after</h1>
  </body>
</html>
